.container{
  text-align: center;
  margin-top:12.5%;
  font-size: 40px;
}

h1 {
  font-size:60px;
}

.saida {
  color:white;
  border-radius:5px;
  padding:10px;
  margin: auto;
  font-size: 40px;
  height:auto;
  width: 200px;
}
input{
  border-radius:15px;
  font-size: 40px;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  font-size: 40px;
}